body {
    background-color: #FFF1BD;
}

form {
    display: inline-block;
}

.form-post {
    text-align: center;
}

.navbar-brand {
    color: #A3DA8D;
    font-size: 2.5rem;
}

.nav-link {
    color: #146356;
    font-size: 1.5rem;
    padding-top: 1.25rem;
}

.disabled {
    margin-right: 1rem;
}

.post {
    padding-top: 70px;
    margin: auto;
    width: 50%;
    text-align: center;
}


.author {
    padding-top: 10px;
}

.paragraph {
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 20px;
}